body{
	font-family: 'Norican', cursive;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header{
	font-family: 'Norican', cursive;
	display: flex;
	width: 100%;
	justify-content: center;
	background-color: #009688;
	text-align: center;
	align-items: center;
	height: 3em;
	color: yellow;
	margin-bottom: 4em;
	font-size: 1.5em;
}
h1, h2, h3{
	text-align: center;
}
h3{
	h3: before, p:after { content:''; display:inline-block; vertical-align: middle; width: 2rem; height: 1px; background: #000 }
}
footer{
	width: 100%;
	height: 3em;
	background-color: #009688;
	display: flex;
	justify-content: space-between;
	color: yellow;
	margin-top: 4em;
}
.bot{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.5em;
}
#menu{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	
}
#menu__menu{
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	align-items: center;
	text-align: center;
	padding: 1em  1em 1em 1em;
}
#menu__1{
	display: flex;
	text-align: center;
	align-items: center;
	box-shadow: 0em 0em 0em 0.15em grey;
	background-color: #FFCCBC;
	height: 500px;
	margin-bottom: 2em;
	
}
.fa-music{
	justify-content: center;
	color: orange;
	font-size: 2em;
}
#menu__2{
	display: flex;
	text-align: center;
	align-items: center;
	box-shadow: 0em 0em 0em 0.15em grey;
	height: 300px;
	margin-bottom: 2em;
	border: 0.25em solid #F5F5F5;
	background-color: #ffebee;
}
#menu__3{	
	display: flex;
	text-align: center;
	align-items: center;
	box-shadow: 0em 0em 0em 0.15em grey;
	height: 300px;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 0.25em solid #F5F5F5;
	background-color: #EEEEEE;
}
#menu__4{
	display: flex;
	text-align: center;
	align-items: center;
	box-shadow: 0em 0em 0em 0.15em grey;
	height: 300px;
	margin-top: 2em;
	margin-bottom: 2em;
	border: 0.25em solid #F5F5F5;
	background-color: #fff;
}
#next{
	justify-content: center;
	align-items: center;
	background-color: #00897B;
	padding-left: 1em;
	border-radius: 5px;
	margin-bottom: 5em;
}
/*les menus*/
.menu__1{
	background-color: #FFCCBC;
	padding-left: 4em;
	width: 60%;
	justify-content: space-between;
}
.menu__all{
	display: flex;
	flex-direction: row;
	width: 60%;
}
.menu__2{
	background-color: #ffebee;
	width: 60%;
}
.menu__3{
	background-color: #EEEEEE;
	justify-content: space-between;
	width: 60%;
}
.menu__4{

}
.menu__prix{
	text-align: right;
	padding-right: 2em;
}
.menu__repas{
	display: flex;
	justify-content: space-between;
}